@charset "utf-8";

/* コンポーネント */
.topspace {
  margin-top: 30px;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

header {
  margin-top: 30px;
  color: black;
}

hr {
  border-width: 3px;
}

h1 {
  font-size: 42px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

label {
  margin: 0;
}

/* img {
  width: 40px;
  height: 40px;
  float: left;
} */

.btn-outline-dark {
  margin-right: 10px;
  margin-left: 10px;
}